body{
  font-family: 'Montserrat', sans-serif, 
}
header{
  color: #000000;
  border-bottom: 1px solid rgba(101, 101, 101, 0.33);
  width: 100%;
  height: 83px;
}
header img{
  width: 37px;
  height: 33px;
  filter: invert(100%);
  margin-top: 20px
}
.header__logo{
  margin: 0 auto;
}
.mateify{
  margin-top: 19px;
  color: #000000;
  font-family: 'Righteous';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  margin-left: 5px
}
.container{
  max-width: 550px;
}
.mobile{
  width: 100%;
}
.continuar{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.nombreUsuario{
  width: 100%;
  height: 57px;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 33px;
  margin-bottom: 10px;
}
.nombreUsuario::placeholder{
  font-weight: 600;
  font-size: 18px;
  color: rgba(31, 32, 65, 0.25);
}
.contraseña{
  width: 100%;
  height: 57px;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 33px;
  margin-bottom: 25px;
}
.contraseña::placeholder{
  font-weight: 600;
  font-size: 18px;
  color: rgba(31, 32, 65, 0.25);
}
/* posiciona el checkbox con su etiqueta */
.posCheck{
  padding-right: 0px;
}
.checkbox{
  width: 29.17px;
  height: 29.17px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}
.checkboxLabel{
  vertical-align: top;
  padding-left: 2px;
  height: 22px;
  font-weight: 600;
  font-size: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.iniSesión{
  width: 100%;
  height: 38px;
  background: #1ED760;
  border: 1px none;
  border-radius: 42px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 0 30px;
  text-decoration: none;
}
.olvCont{
  text-align: center;
  width: 100%;
  height: 16px;
  font-weight: bold;
  font-size: 18px;
  color: #1ED760;
  margin-top: 30px;
}
.barra{
  width: 100%;
  height: 0px;
  border-bottom: 1px solid rgba(101, 101, 101, 0.33);
  margin-top: 50px;
}
.sinCuenta{
  width: 100%;
  height: 16px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #000000;
  margin-top: 35px
}
.registrate{
  width: 204px;
  height: 38px;
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 42px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  margin-top: 10px;
}

@media (max-width: 767px){
  .fondo img{
    position: absolute;
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
    z-index: -1;
    width: 100%;
    height: 100%;
    margin: auto;
    filter: blur(10px) brightness(0.16);
  }
  .fondo__color{
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  header{
    border: none;
  }
  .mateify{
    color: #ffffff;
    margin-top: 30px;
    margin-right: 15px;
  }
  /* formulario para mobile */
  .mobile{
    background-color: #ffffff;
    width: 95%;
    border-radius: 5px;
    margin: 0 1%;
    margin-top: 60px;
    margin-left: 2.5%;
  }
  .nombreUsuario::placeholder{
    font-size: 14px;
    font-weight: bold;
  }
  .contraseña::placeholder{
    font-size: 14px;
    font-weight: bold;
  }
  .checkboxLabel{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: bold;
    padding-top: 1px;
    margin-bottom: 40px;
  }
  .iniSesión--mobile{
    width: 100%;
    height: 48px;
    color: #ffffff;
    background-color: #1ED760;
    font-weight: bold;
    font-size: 18px;
    border: 1px none;
    border-radius: 42px;
  }
  .sinCuenta{
    color: rgba(0, 0, 0, 0.5);
  }
  .registrate{
    border: 1px none;
    margin-bottom: 20px;
  }
  .footer__cont{
    padding-top: 90px;
    padding-left: 140px;
  }
  .pow{
    font-size: 20px;
    color: #ffffff;
  }
  .pow img{
    width: 111px;
    height: 37px;
  }
}
