*{
    font-family: 'Monteserrat', sans-serif;
    color: white
}
p{
    color: #7a7a7a
}
body{
    background-color: black
}
.playlist_new_input--input{
    height: 48px;
    border-radius: 50px;
    width: 100%;
    color:#505054;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box
}
.playlist_playlistcollection--group{
    margin: 0 0 0 40px;
}
.playlist_new--playlist{
    margin-top: 50px;
    padding: 0 40px;
}
.playlist_container_content{
    padding: 0;
}
.sea_Pla--search{
    padding-left: 0;
}
.avv{
    margin: 0;
}
.playlist_playlistcollections-title{
    margin: 0 0 15px 40px;
}
.playlist_new_submit{
    padding-left:40px
}
.playlist_new_input{
    padding-right:40px
}
.playlist_playlistcollection--playlist--cover{
    width: 100%;
    height: auto;
}
.playlist_playlistcollection--playlist{
    padding-right: 40px;
}
.playlist_playlistcollection--playlist--last{
}
@media (max-width: 767px){
    .playlist_playlistcollection--playlist{
        padding: 0;
        margin: 0;
    }
    .playlist_playlistcollection--group{
        margin: 0;
        padding: 0;
    }
    .playlist_new--playlist{
        margin: 0;
    }
    .playlist_playlistcollections-title{
        margin: 0;
    }
    .container-fluid{
        margin: 0;
        padding: 0;
    }
    .header_user{
        border: none;
        background-color: #18d663;
        padding: 0;
        margin: 0;
    }
    .header_user_logo--name{
        position: unset;
        padding: 0;
        text-align: center;
        margin-top: 17px;
        font-family: 'Monteserrat', sans-serif;
        font-style: normal;
        font-weight: 800;
        text-transform: uppercase;
    }
}
.header_user--icon{
    background-color: red;
}
@media (min-width: 768px){
    .col-sm-c7 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}
@media (max-width: 767px){
    .col-sm-c7 {
        width: 50%;
        *width: 50%;
    }
}
.playlist_new_submit--btn{
    height: 48px;
    border-radius: 50px;
    background: #1ED760;
    width: 100%;
    font-size: 100%;
    box-sizing: border-box;
    border: 0px solid rgba(31, 32, 65, 0.25)
}

.col-sm-1siete, .col-sm-1siete {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.playlist_playbtn{
    display: none;
    width: 100px;
    height: 100px;
}
.playlist_cover:hover .playlist_playbtn{
    display: block;
    visibility: visible;
}