*{
    font-family: 'Monteserrat', sans-serif;
    color: white
}
body{
    background-color: black
}
.playlist_new_input--input{
    height: 48px;
    border-radius: 50px;
    width: 100%;
    color:#505054;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box
}
.playlist_playlistcollection--group{
    margin: 0 0 0 40px;
}
.playlist_new--playlist{
    margin-top: 50px;
    padding: 0 40px;
}
.playlist_container_content{
    padding: 0;
}
.sea_Pla--search{
    padding-left: 0;
}
.avv{
    margin: 0;
}
.playlist_playlistcollections-title{
    margin: 0 0 15px 40px;
}
.playlist_new_submit{
    padding-left:40px
}
.playlist_new_input{
    padding-right:40px
}

.playlist_playlistcollection--playlist{
    padding-right: 40px;
    position: relative;
    width: 100%;
    max-width: 400px;
    transition: .3s ease;
}
.playlist_playlistcollection--container-playbtn--row2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5px;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}
.playlist_playlistcollection--container-playbtn--row1{
    position: absolute;
    top: -30px;
    bottom: 0;
    left: -5px;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}
@media (min-width: 1200px){
    .playlist_playlistcollection--container-playbtn--row1{
        top: -50px;
    }
}
@media (max-width: 1199px){
    .playlist_playlistcollection--container-playbtn--row1{
        top: -60px;
    }
}
@media (max-width: 991px){
    .playlist_playlistcollection--container-playbtn--row1{
        top: -65px;
    }
}
@media (max-width: 767px){
    .playlist_playlistcollection--playlist{
        padding: 0;
        margin: 0;
    }
    .playlist_playlistcollection--group{
        margin: 0;
        padding: 0;
    }
    .playlist_new--playlist{
        margin: 0;
    }
    .playlist_playlistcollections-title{
        margin: 0;
    }
    .container-fluid{
        margin: 0;
        padding: 0;
    }
    .header_user{
        border: none;
        background-color: #18d663;
        padding: 0;
        margin: 0;
    }
    .header_user_logo--name{
        position: unset;
        padding: 0;
        text-align: center;
        margin-top: 17px;
        font-family: 'Monteserrat', sans-serif;
        font-style: normal;
        font-weight: 800;
        text-transform: uppercase;
    }
    .playlist_playlistcollection--container-playbtn--row2{
    }
    .header_user--icon{
        
    border: 1px solid white;
    }
}
.playlist_playlistcollection--playlist--title{
    margin-top: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}
.playlist_playlistcollection--playlist--subtitle{
    color: #7a7a7a
}

.header_user--icon--icon{
    margin-top: 4px;
    margin-left: 4px;
    height: 30px;
    width: 30px;
    text-align: center;
    color: white;
    filter: invert(100%);
    
}
.header_user--icon--icon:hover{
    margin-top: 2px;
    margin-left: 2px;
    height: 34px;
    width: 34px;
}
.header_user--icon{
    width: 40px;
    height: 40px;
    border-radius: 45%;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}
@media (min-width: 768px){
    .col-sm-c7 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}
@media (max-width: 767px){
    .col-sm-c7 {
        width: 50%;
        *width: 50%;
    }
}
.playlist_new_submit--btn{
    height: 48px;
    border-radius: 50px;
    background: #1ED760;
    width: 100%;
    font-size: 100%;
    box-sizing: border-box;
    border: 0px solid rgba(31, 32, 65, 0.25)
}

.col-sm-1siete, .col-sm-1siete {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.playlist_playlistcollection{
    position: relative; 
    left: 0; 
    top: 0;
}
.playlist_playlistcollection--playlist--cover{
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
}
.playlist_playbtn{
    align-content: center;
    margin: 0;
    padding: 0;
    height: 55%;
    width: 50%;
}
.playlist_playlistcollection--playlist:hover .playlist_playlistcollection--container-playbtn--row1{
    opacity: 1;
}
.playlist_playlistcollection--playlist:hover .playlist_playlistcollection--container-playbtn--row2{
    opacity: 1;
}